{% extends "bootstrap/base.html" %}
  {% block head %}
      {{super()}}
      {% block title %}CryptoTales{% endblock %}
      {% block metas %}
        {{super()}}
        <meta charset="utf-8">
      {% endblock %}
      {% block styles %}
      {{super()}}
      <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
      {% endblock %}
  {% endblock %}
  {% block body %}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('listdisplay') }}">Know your currencies</a>
  </li>
</ul>

    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  {% endblock %}
